* {
    font-family: 'Source Sans Pro', sans-serif;
    color: #23201B;
}
#trees {
    background-image: url('../images/trees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    margin: 0px;
    width: 100%;
}
#everything {
    height: 100%;
}
h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 65px;
    display: inline;
}
h4 {
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-family: 'Lobster', sans-serif;
}
#rightcontent {
    background-color: #EEF1F9;
    opacity: 0.89;
    height: 100%;
    position: relative;
    width: 60%;
    left: 5%;
    float: right;
    letter-spacing: -0.05em;
}
#leftcontent {
    height: 100%;
    width: 40%;
    position: fixed;
    padding-top: 1cm;
}
.fa {
    color: #E7EAE5;
    text-rendering: auto;
}
.fa:hover {
    color: white;
}
#proj {
    padding-left: 25px;
}
#portfolios {
    width: 286px;
    height: 187px;
    border-color: #23201B;
    border-style: solid;
    opacity: 1;
    border-width: medium;
}
#ports {
    margin-bottom: 15px;
}
span.text-content {
    background: #23201B;
    cursor: pointer;
    display: table;
    width: 286px;
    height: 187px;
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
span.text-content span {
    display: table;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    color: #E7EAE5;
}
#proj:hover span.text-content {
    opacity: 0.90;
}
#me {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    display: block;
    opacity: 1;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
#descriptionrt {
    text-align: right;
}
#descriptionlt {
    text-align: left;
}
.header {
    color: #E7EAE5;
    text-align: center;
}
#about, #projects, #contact, #skills {
    padding-top: 1cm;
    padding-bottom: 0.25cm;
}
ul>li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    padding: 3px;
}
ul {
    width: 40%;
}
.social>ul {
    text-align: center;
    padding: 0 !important;
    position: fixed;
    bottom: 5px;
}
#minis {
    color: #23201B;
}
#contactinfo {
    text-align: center;
    margin: 0 auto;
}
#name {
    font-weight: bold;
}
@media only screen and (max-width: 500px) {
    #portfolios {
        width: 75%;
        height: 75%;
        margin-top: 0.3em;
    }
    ul>li {
        font-size: 20px;
        display: block;
        text-align: left;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 20px;
    }
    #rightcontent {
        font-size: 12px;
        width: 70%;
    }
    #leftcontent {
        width: 30%;
    }
}

/*@media only screen and (min-width: 321px) {
    #portfolios{
        width: 90%;
        height: 90%;
        margin-top: 0.3em;
    }
    ul>li {
        font-size: 28px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 20px;
    }
}*/
