* {
    font-family: 'Raleway', sans-serif;
    color: #23201B;
}
#trees {
    background-image: url('../images/trees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    margin: 0px;
    width: 100%;
}
#everything {
    height: 100%;
}
h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 65px;
    display: inline;
}
h4 {
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-family: 'Lobster', sans-serif;
}
#rightcontent {
    background-color: #EEF1F9;
    opacity: 0.85;
    height: 100%;
    position: relative;
    width: 60%;
    left: 5%;
    float: right;
    letter-spacing: -0.05em;
}
#leftcontent {
    height: 100%;
    width: 40%;
    position: fixed;
    padding-top: 1cm;
}
.fa {
    color: #E7EAE5;
}
#portfolios {
    width: 286px;
    height: 187px;
    border-color: #23201B;
    border-style: solid;
    opacity: 1;
    border-width: medium;
}
#ports {
    margin-bottom: 15px;
}

/*#portfolios:hover {
opacity:0.6;
text-align:justify;
font-size:16px;
font-weight:700;
padding:30px;
}*/

#me {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: block;
    opacity: 1;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
#descriptionrt {
    text-align: right;
}
#descriptionlt {
    text-align: left;
}
.header {
    color: #E7EAE5;
    text-align: center;
}
#needspadding {
    padding-top: 1cm;
}
ul>li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    padding: 3px;
}
ul {
    width: 40%;
}
.social>ul {
    text-align: center;
    padding: 0 !important;
    position: fixed;
    bottom: 5px;
}
#copyright {
  font-size: 10px;
  text-align: center;
  padding: 0 !important;
  position: fixed;
  bottom: 5px;
  margin: 0 auto;
}
form {
    max-width: 420px;
    margin: 25px auto;
}
.feedback-input {
    color: white;
    opacity: 1;
    font-weight: bold;
    border-radius: 0;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #23201B;
    transition: all 0.3s;
    padding: 7px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
.feedback-input:focus {
    border: 2px solid #23201B;
}
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
[type="submit"] {
    width: 25%;
    background: transparent;
    border-color: #23201B;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    margin-bottom: 1cm;
}
[type="submit"]:hover {
    color: white;
}
