* {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin-top: 50px;
  width: 1000px;
}

nav {
  background-color: transparent;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 1cm;
}
